.experience {
  display: flex;
  align-items: center;
  min-height: 80vh;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 300px;
}

.experience-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.duration-tag {
  color: var(--slate);
  border-radius: 4px;
  font-size: 0.875rem;
}

.close-button {
  color: var(--light-slate);
  font-size: 1.5rem;
}

.ReactModal__Content {
  background-color: var(--ash-black);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  max-height: 600px;
  margin: auto;
}

.ReactModal__Content--after-open {
  background-color: transparent !important;
  border: none !important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content {
  background-color: var(--smoke-black);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: "Varela Round", sans-serif;
}

.modaltitle-Header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--cornflower-blue);
}

.modal-company {
  font-size: 1.2em;
  color: var(--light-slate);
  margin-bottom: 15px;
}

.modal-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

.modal-list li {
  list-style-type: none;
  margin-bottom: 5px;
  color: var(--slate);
}

.modal-list li::before {
  content: "➥    ";
  color: var(--cornflower-blue);
}

@media (max-width: 600px) {
  .experience {
    padding-bottom: 100px;
  }
  .experience-content {
    grid-template-columns: 1fr; /* Stack cards vertically */
    padding-top: 15px; /* Adjust padding for smaller screens */
  }
}
