:root {
  --smoke-black: #131419;
  --ash-black: #1c1d24;
  --ash-grey: #363744;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
  --cornflower-blue: #7391c8;
}
html,
body {
  background-color: var(--smoke-black);
  scroll-behavior: smooth;
}

.App {
  font-family: "Varela Round", sans-serif;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.section-header {
  display: flex;
  padding-bottom: 42px;
  color: var(--light-slate);
  font-size: 46px;
  font-weight: bold;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 35px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--cornflower-blue);
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 8px;
  padding: 16px;
  max-width: 625px;
  background-color: var(--ash-black);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  background-color: var(--ash-grey);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); Add shadow for depth */
}

.card-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: var(--cornflower-blue);
}

.card-header a {
  color: var(--light-slate);
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.icon {
  color: var(--light-slate);
  margin-left: 4px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.card-body {
  font-size: 1rem;
  margin-bottom: 12px;
  color: var(--light-slate);
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-tag {
  background-color: var(--smoke-black);
  color: var(--slate);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
}

.card:hover .card-tag {
  background-color: var(--ash-black);
}

@media (max-width: 600px) {
  .project-content {
    padding-top: 15px; /* Adjust padding for smaller screens */
  }
  .card {
    padding: 12px; /* Reduce padding for smaller screens */
    font-size: 0.875rem; /* Smaller font size */
    max-width: 345px;
  }
  .card-header {
    font-size: 1.25rem; /* Smaller header font size */
  }
  .card-body {
    font-size: 0.75rem; /* Smaller body font size */
    max-width: 200px;
  }
  .card-tag {
    font-size: 0.625rem; /* Smaller tag font size */
    padding: 2px 4px; /* Adjust padding for tags */
  }
}
